# 4.5: Data Consistency Checks

In [65]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [66]:
# Importing Data 
df_prods = pd.read_csv(r'C:\Users\danie\Desktop\career Foundry\31-03-2023 Instacart Basket Analysis\02 Data\Original data\products.csv')

In [67]:
df_ords = pd.read_csv(r'C:\Users\danie\Desktop\career Foundry\31-03-2023 Instacart Basket Analysis\02 Data\Prepared data\orders_wrangled.csv')

In [68]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,1.345202e+01,1.044488e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,4.226088e+00,9.308727e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,2.300000e+01,3.000000e+01

In [69]:
# Create a dataframe
df_test = pd.DataFrame()

In [70]:
# Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [71]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [72]:
# Checking for mixed values
for col in df_test.columns.tolist():
    weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_test[weird]) > 0:
        print(col)

mix

In [73]:
#Turning mixed values in to strings
df_test['mix'] = df_test['mix'].astype('str')

In [74]:
# Finding missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [75]:
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [76]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [77]:
#Using '.shape'
df_prods.shape

(49693, 5)

In [78]:
# Creatind df_prods_clean filtering NULL values
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [79]:
df_prods_clean.shape

(49677, 5)

In [80]:
#Looking for full duplicates in a dataframe
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [81]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [82]:
# Dropping duplicates in df_prods
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [83]:
df_prods_clean_no_dups.shape

(49672, 5)

In [84]:
#Path to Prepared data folder
path_prep_data = r'C:\Users\danie\Desktop\career Foundry\31-03-2023 Instacart Basket Analysis\02 Data\Prepared data'

In [85]:
#Exporting changes into Prepared data folder as 'products_checked.csv'
df_prods_clean_no_dups.to_csv(os.path.join(path_prep_data,'products_checked.csv'))

# Data consistency checks part 2

In [86]:
# 2. Running df.decribe() on df_ords
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,1.345202e+01,1.044488e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,4.226088e+00,9.308727e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,2.300000e+01,3.000000e+01

An 'Unnamed' column appears to have the same amount of observations as the rest of the data set, and the MIN, MAX, and Quartiles do not match the 'order_id' statistical description. Therefore, further search is necessary to identify the meaning of the values in the "Unnamed" column and verify if the values in the given column are correct(or are not correct).
'order_id' and 'order_number' could lead to confusion. More self-descriptive column names or further information would be necessary for the analysis

In [87]:
# 3. Check for mixed types in df_ords
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

In [88]:
col

'days_since_prior_order'

Mixed types found in column 'days_since_prior_order'

In [89]:
# 4. Fix 'Mixed types' in column 'days_since_prior_order' 
df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].astype('int64')

In [90]:
# 4.b Check for mixed types in df_ords
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

No mixed types found.

In [91]:
# 5. Check for missing values in df_ords
df_ords.isnull().sum()

Unnamed: 0                0
order_id                  0
user_id                   0
order_number              0
orders_day_of_the_week    0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

No missing values was found. It's a very straigth-forward method to use '.isnull' function search for null values, and by adding 'sum()' would display the amount of null values in each column.

In [92]:
# 6. Addressed missing values.

6. I have found missing values (NaN) in the column 'days_since_prior_order' in Task 4.4, and I have addressed the missing values by imputing the value '0' instead using '.replace().' NaN values appear to be the first order by each 'user_id,' so replacing it with the integer '0' helps to increase consistency and prevent errors in further statistical analyses.

In [93]:
# 7. Check duplicates in df_ords
df_ords_dups = df_ords[df_ords.duplicated()]

In [94]:
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_the_week, order_hour_of_day, days_since_prior_order]
Index: []

No duplicated entries were found. The '.duplicated()' function scans the entire data frame searching for full-duplicated entries.

In [95]:
df_ords.to_csv(os.path.join(path_prep_data,'orders_checked.csv'))