# 4.6: Combining & Exporting Data (part 2)

### 1. Import Libraries: Pandas, Numpy, Os

In [13]:
#Import libraries
import pandas as pd
import numpy as np
import os

### 2. Create path to 'Prepared data'

In [14]:
# Create path to Prepared data folder
path_prepared = r'C:\Users\danie\Desktop\career Foundry\31-03-2023 Instacart Basket Analysis\02 Data\Prepared data'

### 3. Import DataFrame, Pickle file (.pkl)

In [15]:
# Import .pkl file
df_merged_large = pd.read_pickle(os.path.join(path_prepared, 'orders_products_combined.pkl'))

#### 4. Check columns & shape

In [16]:
# Check dataframe with '.head()'
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,Monday,8,0.0,196,1,0,both
1,0,2539329,1,1,Monday,8,0.0,14084,2,0,both
2,0,2539329,1,1,Monday,8,0.0,12427,3,0,both
3,0,2539329,1,1,Monday,8,0.0,26088,4,0,both
4,0,2539329,1,1,Monday,8,0.0,26405,5,0,both

In [17]:
# Check dataframe shape
df_merged_large.shape

(32434489, 11)

The shape of the file 'orders_products_combined.pkl' imported match with the shape of the file previously exported in the last exercise.

#### 5. Import dataframe 'products' to merge & Check shape

In [18]:
#Import 'products_checked.csv' from 'Prepared data' folder
df_prods = pd.read_csv(os.path.join(path_prepared, 'products_checked.csv'))

In [19]:
df_prods.shape

(49672, 6)

#### 6. Run merge tests

#.merge test with '.., how = outer, left, right, inner join' conditions has been checked before procceding to the next step.

#### 7. Merge DataFrames

In [20]:
# Merge df_merged_large & df_prods
df_ords_prods_merged = df_merged_large.merge(df_prods, on = 'product_id', how = 'inner')

In [21]:
df_ords_prods_merged

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,2539329,1,1,Monday,8,0.0,196,1,0,both,195,Soda,77,7,9.0
1,1,2398795,1,2,Tuesday,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,2,473747,1,3,Tuesday,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,3,2254736,1,4,Wednesday,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,4,431534,1,5,Wednesday,15,28.0,196,1,1,both,195,Soda,77,7,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,3360493,1320836,202557,17,Monday,15,1.0,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7
32404855,3360494,31526,202557,18,Thursday,11,3.0,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7
32404856,3376038,758936,203436,1,Monday,7,0.0,42338,4,0,both,42342,"Zucchini Chips, Pesto",50,19,6.9
32404857,3376039,2745165,203436,2,Tuesday,5,15.0,42338,16,1,both,42342,"Zucchini Chips, Pesto",50,19,6.9
32404858,3408036,3093936,205420,1,Wednesday,14,0.0,28818,8,0,both,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3

The outcome from running a test ".merge(... how = 'outer')" show a numerous empty values that appear to be unsold items or untracked sales during the time the 'Orders' data was recorded.

Therefore, a merge with inner join is the most suitable options for the integrity of our data.

Succefully merged dataframes.
There are two unnamed columns in the df.

#### 8. Use merge flag

In [22]:
# Merge flag
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

##### Look for empty values

In [23]:
# Finding missing values
df_ords_prods_merged.isnull().sum()

Unnamed: 0_x              0
order_id                  0
user_id                   0
order_number              0
orders_day_of_the_week    0
order_hour_of_day         0
days_since_prior_order    0
product_id                0
add_to_cart_order         0
reordered                 0
_merge                    0
Unnamed: 0_y              0
product_name              0
aisle_id                  0
department_id             0
prices                    0
dtype: int64

No NULL values in the entire data frame.

### 9. Export the merge final DataFrame

In [24]:
# Export data frame in a suitable format, keep in mind the size of the data
df_ords_prods_merged.to_pickle(os.path.join(path_prepared, 'orders_products_merged.pkl'))