# 4.6: Combining & Exporting Data

### 01. Import libraries (pandas, Numpy, Os)

In [2]:
#Import libraries
import pandas as pd
import numpy as np
import os

### 02. Create paths to import & export the data.

In [3]:
# Create path to Original data folder
path_original = r'C:\Users\danie\Desktop\career Foundry\31-03-2023 Instacart Basket Analysis\02 Data\Original data'

In [4]:
# Create path to Prepared data folder
path_prepared = r'C:\Users\danie\Desktop\career Foundry\31-03-2023 Instacart Basket Analysis\02 Data\Prepared data'

### 03. Import DataFrames

In [5]:
# Importing new data as 'df_ords_prior. Import data set 'df_ords', 'df_prods',
df_ords_prior = pd.read_csv(os.path.join(path_original, 'order_products__prior.csv'))
df_ords = pd.read_csv(os.path.join(path_prepared, 'orders_wrangled.csv'))
df_prods = pd.read_csv(os.path.join(path_prepared, 'products_checked.csv'))

### 04. Check DataFrame dimentions

In [6]:
# Check df_ords_prior '.head()'
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
# Check df_ords_prior shape
df_ords_prior.shape

(32434489, 4)

In [8]:
# Check df_ords shape
df_ords.shape

(3421083, 7)

### 05. Merge df_ords_prior & df_ords

In [9]:
# Merge df_ords with df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

Dataframes 'df_ords' and 'df_ords_prior' are merged using the common column "order_id" and 'inner' join as default.

### 06. Check dimentions & Integrity of the new dataframe

In [10]:
# Check df_merged_large '.head()'
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,Monday,8,0.0,196,1,0,both
1,0,2539329,1,1,Monday,8,0.0,14084,2,0,both
2,0,2539329,1,1,Monday,8,0.0,12427,3,0,both
3,0,2539329,1,1,Monday,8,0.0,26088,4,0,both
4,0,2539329,1,1,Monday,8,0.0,26405,5,0,both

In [11]:
# Check .value_count()
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [12]:
# Check shape of the new 'df'
df_merged_large.shape

(32434489, 11)

### 07. Export 'df_merged_large' dataframe in 'Pickle' format (.pkl)

In [13]:
# Export merged dataframe in to pickle file (.pkl)
df_merged_large.to_pickle(os.path.join(path_prepared, 'orders_products_combined.pkl'))

In [14]:
df_merged_large.shape

(32434489, 11)